<!-- <hello name="{{ name }}"></hello> -->
<div  class="container">
<form [formGroup]="userFormGroup"> 
	<table>
		<tr>
			<td colspan="4"><label class="header"> Create a Rediffmail account</label></td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1 ">Full Name</label></td>
			<td>:</td>
			<td><input type="text"  class="form-control required" formControlName="firstName" ></td>
			<td class="note">Enter your first name & last name<br>Eg. Sameer Bhagwat</td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Choose a Rediffmail ID</label></td>
			<td>:</td>
			<td><input type="text" class="form-control" formControlName="emailId" ></td>
			<td>@radifmail.com</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button id="btn1">Check availability</button>
			<td></td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Password</label></td>
			<td>:</td>
			<td><input type="password" class="form-control" formControlName="password"></td>
			<td class="note" rowspan="2">Password:<br>• must contain 6-12 characters<br>
            • must contain both upper and lower case characters<br>• must contain numeric characters<br>• must
            contain special characters
            <br>• should not contain username or firstname or lastname</td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Retype Password</label></td>
			<td>:</td>
			<td><input type="password" class="form-control" formControlName="confirmPassword"></td>
			<td></td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Alternate Email Address</label></td>
			<td>:</td>
			<td><input type="text" class="form-control" formControlName="altEmailId"></td>
			<td class="note">If you forget your password,<br>we will send it to this account.</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td colspan="2"><input type="checkbox"class="form-check-input" id="checkBox1">Click if you don't have an alternate ID</td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Mobile NO.</label></td>
			<td>:</td>
			<td class="tdmob">
				<select class="custom-select ddl1" formControlName="countryCode">
          <option>+91</option>
          <option>+1</option>
          <option>+391</option>
          <option>+44</option>
          <option>+93</option>
        </select>
				<input type="text" class="form-control mob" formControlName="mobileNo">
      </td>
			<td class="note">If you forget your password,<br>recover your password via text message.</td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Date of Birth</label></td>
			<td>:</td>
			<td>
        <div class="row" style="margin-left:0px">
				<select class="form-control" formControlName="day" style="width:75px">
          <option selected disabled>Day</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
				<select  class="form-control" formControlName="month" style="width:100px">
          <option  disabled>Month</option>
          <option>JAN</option>
          <option>FEB</option>
          <option>MAR</option>
          <option>APR</option>
          <option>MAY</option>
          <option>JUN</option>
          <option>JUL</option>
          <option>AUG</option>
          <option>SEP</option>
          <option>OCT</option>
          <option>NOV</option>
          <option>DEC</option>
        </select>
				<select class="form-control" formControlName="year" style="width:80px">
          <option disabled>Year</option>
          <option>2010</option>
          <option>2009</option>
          <option>2007</option>
          <option>2006</option>
          <option>2005</option>
          <option>2004</option>
          <option>2003</option>
          <option>2002</option>
          <option>2001</option>
          <option>2000</option>
          <option>1999</option>
          <option>1998</option>
        </select>
        </div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">Gender</label></td>
			<td>:</td>
			<td><input type="radio" name="gender" value="male" formControlName="gender">Male
				<input type="radio" name="gender" value="female" formControlName="gender">Female </td>
			<td></td>
		</tr>
		<tr>
			<td class="dLable"><label for="exampleInputEmail1">I live in Country</label></td>
			<td>:</td>
			<td>
				<select class="form-control" formControlName="country">
        <option>India</option>
        <option>U.S.</option>
        <option>Canada</option>
        <option>Japan</option>
        <option>Russia</option>
      </select>
			</td>
      <td></td>
		</tr>
    
    <tr>
      <td></td>
      <td></td>
      <td colspan="2"><button id="btn2" class="btn btn-primary" (click)="submit()">Create my Account>></button></td>
    </tr>
	</table>
</form>
</div>